<div class="centered">
<p id="notice"><%= notice %></p>
  <div class="form-group">
    <p>
      <strong>Categoria:</strong>
      <div class="form-control">
        <%= @product.category.name %>
      </div>
    </p>
  </div>

  <div class="form-group">
    <p>
      <strong>Nome:</strong>
      <div class="form-control">
        <%= @product.name %>
      </div>
    </p>
  </div>

  <div class="form-group">
    <p>
      <strong>Descrição:</strong>
      <textarea class="form-control">
        <%= @product.description %>
      </textarea>
    </p>
  </div>

    <!-- <button type="button" class="btn btn-success"><%= link_to 'Editar', edit_product_path(@product), class: "btn"  %></button> -->
    <%= link_to 'Voltar', products_path, class: "btn btn-secondary"  %>
</div>
